
.metadata/.lock

.metadata/.log

*.gen

.metadata/.mylyn/.taskListIndex/segments_1

*.zip
*.metadata
*.plugins

.metadata/.plugins/org.eclipse.core.resources/.history/96/d024336f1c11001915f4e535c27f71bd

*.index

*.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/corejava/org.eclipse.egit.core/GitProjectData.properties

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

corejava/.project

corejava/.classpath
